@{
    ViewData["Title"] = "Home Page";
}

<app>
    <div class="spinner-container">
        <div class="spinner-content">
            <div class="circle"></div>
            <div class="circle1"></div>
        </div>
    </div>
</app>

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
